<table>
    <caption>Attributes</caption>
    <colgroup />
    <colgroup span="2" title="title" />
    <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>{{this.id}}</td>
        </tr>
        <tr>
            <td>display_name</td>
            <td>{{this.display_name}}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{this.description}}</td>
        </tr>
        <tr>
            <td>content_unit_counts</td>
            <td>{{this.content_unit_counts}}</td>
        </tr>
        <tr>
            <td>notes</td>
            <td>{{this.notes}}</td>
        </tr>
        <tr>
            <td>_href</td>
            <td>{{this._href}}</td>
        </tr>
        <tr>  
            <td>_ns</td>
            <td>{{this._ns}}</td>
        </tr>
    </tbody>
</table>
<br/>
<br/>
{{#link-to 'repositories'}}BACK{{/link-to}} 

